/*Variables*/
$primary-color: #F2F2F3;
$secondary-color: rgb(32, 32, 32);
$text-color: #4C4D52;
$main-font-package: 'Roboto', sans-serif;

$card-border-radius: 8px;

$big-card-title-margin: 4px;
$content-margin: 15px;