@import 'variables';

.container__page-title {
    color: $text-color;
}

.container__page-title h1 {
    font-size: 150px;
    margin-top: 0;
    margin-bottom: 0;
    display: flex;
    justify-content: center;
}

.container__page-title hr {
    margin-top: 10px;
    margin-bottom: 10px;
}

@media screen and (max-width: 431px) {
    .container__page-title h1 {
        font-size: 60px;
        margin: 0 auto;
        display: flex;
        justify-content: center;
    }
}