@import 'variables';

.container__big-card {
    /*border: 2px solid $text-color;*/
    display: flex;
    flex-direction: column;
    width: 300px;
    height: 400px;
    align-items: flex-start;
    justify-content: flex-start;
    margin-left: $content-margin;
    margin-right: $content-margin;
}

.big-card__photo {
    width: 100%;
    min-width: 100%;
}

.big-card__title h1 {
    font-size: 28px;
    margin-top: $big-card-title-margin;
    margin-bottom: $big-card-title-margin;
}

.big-card__description p a {
    font-size: 14px;
    color: gray;
}