@import 'variables';

.container__menu {
    display: flex;
    justify-content: center;
}

.container__articles {
    margin-top: $content-margin;

    display: flex;
    flex-direction: row;
    justify-content: center;
}

@media screen and (max-width: 500px) {
    .container__articles {
        margin-top: $content-margin;

        display: flex;
        flex-direction: column;
        justify-content: center;
    }    
}